@import  "mixin";
@import  "base";

header{
	.headTop{
		display: flex;
		justify-content: space-between;
		background-color: black;
		height: 30px;
		line-height: 30px;
		ul li{
			float: left;
			margin-left: 30px;
		}
		a{
			color: white;
		}
	}
	.headBot{
		display: flex;
		justify-content: space-around;
		line-height: 70px;
		background-color: #f7f7f5;
		span:first-child{
			font-size: 22px;
			font-weight: bold;
		}
		ul{
			display: flex;
			li{
				margin-right: 34px;
			}
			li:last-child{
				margin-right: 0px;
			}
			a{
				font-size: 18px;
			}
		}
	}
}
.banner{
	position: relative;
	width: 100%;
	height: 520px;
	overflow: hidden;
	.bannerImage{
		img{
			height: 520px;
			position: absolute;
			left: -682px;
			opacity: 0;
			transition: 1.5s;
			z-index: 0;
		}
		.active{
			z-index: 5;
			opacity: 1;
		}
	}
	ol{
		position: absolute;
		bottom: 20px;
		display: flex;
		align-items: flex-end;
		width: 250px;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 10;
		li{
			width: 40px;
			height: 2px;
			background-color: rgba(255,255,255,0.5);
			margin-left: 10px;
			span{
				display: none;
				height: 5px;
				background-color: white;
				position: absolute;
			}
			.anima1{
				display: inline-block;
				animation: btn 5s;
			}
		}
		.active{
			height: 5px;
		}
	}
	.bannerList{
		nav{
			padding:35px 0px;
			background-color: rgba(255,255,255,0.7);
			position: absolute;
			top: 20px;
			left: 70px;
			z-index: 10;
			li{
				width: 200px;
				a{
					display: flex;
					justify-content: space-between;
					padding: 25px 30px 18px 43px;
				}
				:hover{
					background-color: white;
				}
			}
		}
		aside{
			position: absolute;
			top: 20px;
			left: 280px;
			background-color: white;
			width: 750px;
			height: 420px;
			display: none;
			z-index: 10;
			box-sizing: content-box;
			padding: 17px 50px 47px 17px;
			header{
				display: flex;
				justify-content: space-between;
				line-height: 38px;
				span:last-child{
					font-size: 12px;
					color: #999999;
				}
				}
				.classList1{
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					border-bottom: 1px solid #ccc;
					padding-bottom: 18px;
					li{
						
						width: 100px;
						border-radius: 10px;
						// height: 50px;
						margin-top: 11px;
						background: url(../images/back1.jpg) no-repeat;
						background-size:160px 50px;
						text-align: right;
						line-height: 50px;
						box-sizing: content-box;
						padding-right: 60px;
						position: relative;
						span{
							display: none;
							width: 160px;
							height: 50px;
							background-color: rgba(0,0,0,0.1);
							position: absolute;
							left: 0;
							top: 0;
							border-radius: 10px;
						}
						// :hover span{
						// 	display: inline-block;
						// }
						// :hover{
						// 	display: none;
						// }
					}
			}
			.classList2{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				padding-top: 26px;
				li{
					min-width: 200px;
					// background-color: red;
					margin-bottom: 20px;
					height: 45px;
					img{
						height: 45px;
						margin-right: 10px;
					}
				}
			}
		}
	}
}

// 效果展示区
.content{
	// @include clearBoth;
	background-color: #f7f7f5;
	// background-color: green;
	height: 3000px;
	position: relative;
	.content1{
		@include main;
		// background-color: red;
		margin-top: 10px;
		height: 140px;
		display: flex;
		justify-content: space-between;
		// margin-bottom: 40px;
		li{
			a{
				display: block;
				width: 290px;
				height: 140px;
				background: url(../images/content1-1.jpg);
				background-size: 100%;
			}
			:hover{
				box-shadow: 5px 5px 5px #e3e3e1;
			}
		}
	}
	.content2{
		@include main;
		top: 140px;
		height: 495px;
		padding-top: 40px;
		// background-color: red;
		.head{
			// height: 30px;
			padding: 25px 0px;
			background:url(../images/v-qiang.png) no-repeat 10px;
			background-size:auto 30px;
			padding-left: 100px;
			line-height: 30px;
			display: flex;
			justify-content: space-between;
			color: #999;
			a{
				color: #999;
			}
			i{
				display: inline-block;
				width: 40px;
				// height: 30px;
				font-size: 20px;
				color: white;
				text-align: center;
				line-height: 30px;
				background-color: red;
				margin: 0px 10px;
			}
		}
		.content2Left{
			@include btn;
			left: -50px;
		}
		.content2Right{
			@include btn;
			right: -50px;
		}
		.box{
			width: 1200px;
			overflow: hidden;
			.content2List{
				width: 2690px;
				display: flex;
				justify-content: space-between;
				position: relative;
				top: 0;
				left: 0;
				li{
					box-sizing: content-box;
					width: 250px;
					height: 265px;
					background-color: white;
					position: relative;
					padding: 60px 20px 55px;
					.img1{
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						height: 135px;
						padding-bottom:30px ;
					}
					.img2{
						position: absolute;
						top: 40px;
						right: 70px;
						height: 50px;
					}
					div{
						position: absolute;
						bottom: 55px;
						p{
							width: 250px;
							line-height: 35px;
							font-size: 18px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						span{
							display: block;
							width: 250px;
							text-align: center;
							font-size: 12px;
							line-height: 30px;
						}
						b{
							display: block;
							width: 250px;
							color: red;
							height: 30px;
							text-align: center;
							i:first-child{
								font-size: 14px;
								font-weight: bold;
							}
							i:nth-child(2){
								font-size: 20px;
								font-weight: bold;
							}
							i:last-child{
								font-size: 12px;
								color: #b7b7b7;
								font-size: 14px;
								text-decoration: line-through;
							}
						}
					}
				}
			}
		}
	}
	// 第三部分
	.content3{
		@include  main;
		top: 670px;
		.head{
			text-align: center;
			font-size: 20px;
			line-height: 75px;
		}
		ul{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			li{
				width: 390px;
				height: 430px;
				background-color: white;
				padding-top: 80px;
				position: relative;
				img{
					height: 185px;
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
				}
				div{
					position: absolute;
					bottom: 65px;
					text-align: center;
					p{
						width: 395px;
						line-height: 34px;
						font-size: 20px;
					}
					span{
						display: block;
						line-height: 32px;
						font-size: 12px;
					}
					b{
						display: block;
						line-height: 68px;
						font-size: 20px;
						color: red;
						font-weight: bold;
						i{
							font-size: 14px;
						}
					}
				}
			}
			li:hover{
				box-shadow: -4px 22px 20px #e3e3e1;
			}
		}
	}
	.content4{
		@include main;
		top: 1270px;
		.head{
			text-align: center;
			font-size: 20px;
			line-height: 75px;
		}
		.content4List{
			display: flex;
			justify-content: space-between;
			align-content: space-between;
			flex-wrap: wrap;
			height: 770px;
			li{
				width: 290px;
				height: 320px;
				background-color: white;
				padding-top: 60px;
				position: relative;
				img{
					height: 140px;
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
				}
				div{
					position: absolute;
					bottom: 40px;
					text-align: center;
					p{
						width: 290px;
						line-height: 30px;
						font-size: 20px;
					}
					span{
						display: block;
						line-height: 27px;
						font-size: 12px;
					}
					b{
						display: block;
						line-height: 50px;
						font-size: 20px;
						color: red;
						font-weight: bold;
						i{
							font-size: 14px;
						}
					}
				}
			}
			li:first-child{
				width: 590px;
				background: url(../images/zq1.jpg) no-repeat;
				background-size: auto 380px;
			}
			li:hover{
				box-shadow: -4px 22px 20px #e3e3e1;
			}
		}
	}
	.content5{
		@include main;
		top: 2110px;
		.head{
			padding-left: 550px;
			font-size: 20px;
			line-height: 75px;
			p{
				float: right;
				font-size: 14px;
				width: 270px;
				display: flex;
				justify-content: space-between;
			}
		}
		.content5List{
			display: flex;
			justify-content: space-between;
			align-content: space-between;
			flex-wrap: wrap;
			height: 770px;
			li{
				width: 290px;
				height: 320px;
				background-color: white;
				padding-top: 60px;
				position: relative;
				img{
					height: 140px;
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
				}
				div{
					position: absolute;
					bottom: 40px;
					text-align: center;
					p{
						width: 290px;
						line-height: 30px;
						font-size: 20px;
					}
					span{
						display: block;
						line-height: 27px;
						font-size: 12px;
					}
					b{
						display: block;
						line-height: 50px;
						font-size: 20px;
						color: red;
						font-weight: bold;
						i{
							font-size: 14px;
						}
					}
				}
			}
			li:hover{
				box-shadow: -4px 22px 20px #e3e3e1;
			}
		}
	}
}

.right{
	width: 50px;
	height: 150px;
	background-color: white;
	position: fixed;
	right: 0;
	bottom: 100px;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	a{
		display: block;
		width: 27px;
		i{
			// text-align: center;
			font-size: 25px !important;
		}
	}
}

//尾部内容
footer{
	.footContent{
		@include  main;
		.footList1{
			padding-top: 30px;
			display: flex;
			justify-content: space-around;
			border-bottom: 1px solid #ccc;
			li{
				line-height: 85px;
				color: black;
				i{
					// font-size: 25px !important;
					margin-right: 5px;
				}
			}
		}
		.footList2{
			display: flex;
			justify-content: space-between;
			padding: 30px 0px 70px;
			border-bottom: 1px solid #ccc;
			dt{
				line-height: 100px;
				color: #333333;
			}
			dd{
				font-size: 12px;
				line-height: 35px;
				color: #666666;
			}
			dl:last-child{
				dt{
					font-size: 22px;
					i{
						font-size: 22px !important;
					}
				}
				dd{
					height: 60px;
					line-height:15px;
					span{
						font-size: 20px;
						color: #415fff;
						display: block;
					}
					b{
						display: block;
						font-size: 14px;
						line-height: 40px;
					}
					i{
						font-size: 20px !important;
						margin-right: 20px;
					}
				}
			}
		}
		.footList3{
			line-height: 75px;
			display: flex;
			justify-content: space-between;
			color: #666666;
		}
	}
}
//动画效果
@keyframes btn{
	0%{
		width: 0px;
	}
	100%{
		width: 40px;
	}
}

